#page{
    background-color:rgb(245, 245, 220);
}
#header{
    background-color:rgb(219, 231, 113);
}
#content{
    background-color: rgb(245, 245, 220);
}
#footer{
    background-color:rgb(219, 231, 113);
}